body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    padding: 20px;
}

.nutricionistas-lista {
    display: grid;
    gap: 15px;
}

.nutricionista {
    background-color: #ffffff;
    padding: 15px;
    border-radius: 10px;
    border: 1px solid #ddd;
}
